<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <title>Machine Learning API</title>
</head>
<body>    
    <header>
        <nav class="navigations">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="first-div"> 
            <background-image></background-image>
            <h1 class="h1">Welcome to the Machine Learning API</h1>
            <p class="p1">Discover how our API can help you integrate machine learning into your applications.</p>
           
            <div class="buttons">           
               <button id="firstBtn">LearnMore </button>
               <button id="secondBtn">Login Here</button>
           </div>
        </div>
    </header>
    <section>
        <h3>How Use This Machine Learning API</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore a quos aperiam eius dignissimos iusto sunt quibusdam veniam. Inventore delectus molestiae consequuntur vel aspernatur quam qui. Deleniti porro natus placeat. Magnam perferendis nisi officia sequi minima maxime repellendus vel nesciunt.</p>
    </section>

    <footer>
        <p>&copy; 2023 Machine Learning API. All rights reserved.</p>
    </footer>
</body>
</html>